*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "Fraunces 144-SemiBold";
  src: url("../assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf");
}
@font-face {
  font-family: "Manrope-Regular";
  src: url("../assets/fonts/manrope/static/Manrope-Regular.ttf");
}
.heading--l {
  font-size: 8rem;
  line-height: 8rem;
  font-family: "Fraunces 144-SemiBold";
}

.heading--m {
  font-size: 5.6rem;
  line-height: 6.4rem;
  font-family: "Fraunces 144-SemiBold";
}

.heading--s {
  font-size: 3.2rem;
  line-height: 4rem;
  font-family: "Fraunces 144-SemiBold";
}

.body {
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-family: "Manrope-Regular";
}

.button--primary {
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 3.2rem;
  letter-spacing: 0.0334rem;
  color: #24053E;
  font-family: "Manrope-Regular";
  background: #44FFA1;
  padding: 1.1rem 2.4rem 1.2rem 2.3rem;
}
.button--primary:hover {
  color: #44FFA1;
  background: #24053E;
  outline: 0.2rem solid #44FFA1;
}

.button--secondary {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.6rem;
  font-style: normal;
  position: relative;
  line-height: 3.2rem;
  color: #FFFFFF;
  letter-spacing: 0.028rem;
  font-family: "Manrope-Regular";
}
.button--secondary::after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  height: 0.3rem;
  display: block;
  background: #44FFA1;
}
.button--secondary:hover {
  color: #44FFA1;
}

@media (min-width: 90em) {
  .button--primary {
    font-size: 1.8rem;
    letter-spacing: 0.04rem;
    padding: 1.3rem 3.2rem 1.6rem 3.2rem;
  }
  .button--secondary {
    font-size: 1.8rem;
    line-height: 2.9rem;
    letter-spacing: 0.0276rem;
  }
}
.intro {
  position: relative;
  padding: 3.2rem 1.53rem 0 1.6rem;
  height: 43.2207rem;
  background: #24053E;
}
.intro .curve {
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  bottom: -6.6rem;
  position: absolute;
}
.intro .curve path {
  fill: #24053E;
}
.intro .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro .content {
  text-align: center;
}
.intro .content .title {
  font-size: 5rem;
  font-weight: 600;
  line-height: 5rem;
  text-align: center;
  margin-top: 6.4rem;
  color: #FFFFFF;
  font-family: "Fraunces 144-SemiBold";
}
.intro .content .title--highlight {
  position: relative;
}
.intro .content .title--highlight::after {
  left: 0;
  right: 0;
  content: "";
  height: 0.3rem;
  bottom: 0.3rem;
  position: absolute;
  background: #44FFA1;
}
.intro .content .button--primary {
  margin-top: 4rem;
}
.intro .phone {
  z-index: 2;
  width: 32rem;
  margin: 0 auto;
  margin-top: 6.4rem;
  position: relative;
}

.list {
  width: 100%;
  padding: 0 1.6rem;
  text-align: center;
  position: relative;
  padding-top: 20.479rem;
  padding-bottom: 1.65rem;
  background: #FCF8FF;
}
.list .curve {
  left: 0;
  width: 100%;
  z-index: -1;
  bottom: -6.6rem;
  position: absolute;
}
.list .curve path {
  fill: #FCF8FF;
}
.list .item:first-child, .list .item:nth-child(2) {
  margin-bottom: 4rem;
}
.list .item__image {
  height: 4.6rem;
  font-size: 2rem;
  min-width: 4.8rem;
  text-align: center;
  line-height: 3.6rem;
  align-items: center;
  display: inline-flex;
  border-radius: 3.05rem;
  justify-content: center;
  font-family: "Fraunces 144-SemiBold";
  border: 0.1rem solid #584D62;
}
.list .item__title {
  font-size: 2.8rem;
  margin-top: 2.4rem;
  line-height: 3.6rem;
  margin-bottom: 1.6rem;
  color: #24053E;
  font-family: "Fraunces 144-SemiBold";
}
.list .item__text {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #584D62;
  font-family: "Manrope-Regular";
}

.access {
  padding: 14.979rem 1.6rem 6.4rem 1.6rem;
}
.access .founder {
  width: 28.1rem;
  margin: 0 auto;
  height: 28.1rem;
}
.access .card {
  top: -5.3rem;
  position: relative;
  text-align: center;
  padding: 3.2rem 3.1rem;
  background: #24053E;
}
.access .card .title {
  font-size: 3.2rem;
  line-height: 4.8rem;
  color: #FFFFFF;
  font-family: "Fraunces 144-SemiBold";
}
.access .card .text {
  font-size: 1.6rem;
  margin-top: 1.6rem;
  line-height: 2.8rem;
  margin-bottom: 2.4rem;
  color: #FFFFFF;
  font-family: "Manrope-Regular";
}
.access .social {
  display: flex;
  width: 11.6rem;
  height: 10.3rem;
  margin-left: auto;
  margin-top: 2.1rem;
  margin-right: auto;
  flex-direction: column;
  justify-content: space-between;
}
.access .social .logo {
  margin: 0 auto;
}
.access .social__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.access .social__icon img {
  cursor: pointer;
}

@media (min-width: 48em) {
  .intro {
    background-size: auto, auto;
    background-repeat: no-repeat;
    height: 43.6rem;
    padding: 3.2rem 3.9rem 0 3.9rem;
    background-position: -22.625rem 7.112rem, calc(100% + 9.368rem) 25rem;
    background-image: url("assets/images/bg-pattern-1.svg"), url("assets/images/bg-pattern-2.svg");
  }
  .intro .curve {
    height: 14rem;
    bottom: -13.9rem;
  }
  .intro .content .title {
    width: 40rem;
    margin: 0 auto;
    font-size: 6rem;
    line-height: 6rem;
    margin-top: 5.6rem;
  }
  .intro .content .title--highlight::after {
    bottom: 0.5rem;
  }
  .intro .content .button--primary {
    margin-top: 3.9rem;
  }
  .intro .phone {
    width: 51.4rem;
    height: 29.6rem;
    margin-top: 5.5rem;
  }
  .list {
    padding-bottom: 0;
    padding-top: 30.876rem;
    height: 82.6975rem;
  }
  .list .curve {
    bottom: -9.4rem;
    height: 9.375rem;
  }
  .list .item {
    gap: 3.2rem;
    display: flex;
    width: 55.8rem;
    margin: 0 auto;
    align-items: center;
    flex-direction: row;
  }
  .list .item:first-child, .list .item:nth-child(2) {
    margin-bottom: 4.8rem;
  }
  .list .item > div {
    text-align: left;
  }
  .list .item__title {
    margin-top: 0;
  }
  .access {
    padding: 19.402rem 4rem 12.2rem 4rem;
  }
  .access__founder {
    display: flex;
    align-items: flex-start;
  }
  .access__founder .founder {
    margin: 0;
  }
  .access__founder .card {
    top: 0;
    padding: 5.6rem;
    text-align: left;
    padding-top: 4.8rem;
    margin-top: 14.05rem;
    margin-left: -10.5rem;
    background-repeat: no-repeat;
  }
  .access__founder .card::after {
    right: 0.75rem;
    bottom: -11.125rem;
    position: absolute;
    content: url("assets/images/bg-pattern-3.svg");
  }
  .access__founder .card .title {
    font-size: 4.8rem;
  }
  .access__founder .card .text {
    margin-top: 2.4rem;
  }
  .access .social {
    margin-top: 8rem;
  }
}
@media (min-width: 90em) {
  .intro {
    height: 62.5rem;
    padding: 3.5625rem 11.4583% 0;
    background-position: top 7.25rem right 86vw, top 19.625rem left 91.3vw;
  }
  .intro .curve {
    height: 26.4rem;
    bottom: -13.9rem;
  }
  .intro .content .title {
    width: 63.5rem;
    font-size: 8rem;
    line-height: 8rem;
    margin-top: 5.8rem;
  }
  .intro .content .button--primary {
    margin-top: 3.7rem;
  }
  .intro .phone {
    width: 76.7rem;
    height: 44.1rem;
    margin-top: 5rem;
  }
  .list {
    gap: 2.6rem;
    height: auto;
    display: flex;
    padding: 35.5rem 11.4583% 2.4375rem;
  }
  .list .curve {
    bottom: -17.1rem;
    height: 17.1875rem;
  }
  .list .item {
    gap: 5.6rem;
    width: 35.4rem;
    margin: 0 auto;
    flex-direction: column;
  }
  .list .item:first-child, .list .item:nth-child(2) {
    margin-bottom: 0rem;
  }
  .list .item > div {
    text-align: center;
  }
  .list .item__image {
    height: 5.6rem;
    font-size: 2.4rem;
    min-width: 5.6rem;
    text-align: center;
    line-height: 4rem;
  }
  .list .item__title {
    margin-top: 0;
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 2.8rem;
  }
  .list .item__text {
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #24053E;
  }
  .access {
    margin-top: 23.5rem;
    padding: 0 11.4583% 11rem;
  }
  .access__founder .founder {
    width: 47.7rem;
    height: 47.7rem;
  }
  .access__founder .card {
    width: 73rem;
    padding: 6.4rem;
  }
  .access__founder .card::after {
    right: 7rem;
    bottom: -6.5rem;
  }
  .access__founder .card .title {
    font-size: 5.6rem;
    line-height: 6.4rem;
  }
  .access__founder .card .text {
    margin: 3.2rem 0;
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
  .access .social {
    margin-top: 12.2rem;
  }
}/*# sourceMappingURL=index.css.map */