@use './reset';
@use './fonts';
@use './styles';
@use './variables';
@use './breakpoints';

.intro {
    position: relative;
    padding: 3.2rem 1.53rem 0 1.6rem;
    height: calc(48.1707rem - 4.95rem);
    background: variables.$dark-purple;

    .curve {
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        bottom: -6.6rem;
        position: absolute;

        path {
            fill: variables.$dark-purple;
        }
    }

    .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .content {
        text-align: center;

        .title {
            font-size: 5rem;
            font-weight: 600;
            line-height: 5rem;
            text-align: center;
            margin-top: 6.4rem;
            color: variables.$white;
            font-family: "Fraunces 144-SemiBold";

            &--highlight {
                position: relative;

                &::after {
                    left: 0;
                    right: 0;
                    content: "";
                    height: 0.3rem;
                    bottom: 0.3rem;
                    position: absolute;
                    background: variables.$eucaplyptus;
                }
            }
        }

        .button--primary {
            margin-top: 4rem;
        }
    }

    .phone {
        z-index: 2;
        width: 32rem;
        margin: 0 auto;
        margin-top: 6.4rem;
        position: relative;
    }
}

.list {
    width: 100%;
    padding: 0 1.6rem;
    text-align: center;
    position: relative;
    padding-top: 20.479rem;
    padding-bottom: 1.65rem;
    background: variables.$ghost-white;

    .curve {
        left: 0;
        width: 100%;
        z-index: -1;
        bottom: -6.6rem;
        position: absolute;

        path {
            fill: variables.$ghost-white;
        }
    }

    .item {

        &:first-child,
        &:nth-child(2) {
            margin-bottom: 4rem;
        }

        &__image {
            height: 4.6rem;
            font-size: 2rem;
            min-width: 4.8rem;
            text-align: center;
            line-height: 3.6rem;
            align-items: center;
            display: inline-flex;
            border-radius: 3.05rem;
            justify-content: center;
            font-family: "Fraunces 144-SemiBold";
            border: 0.1rem solid variables.$davys-gray;
        }

        &__title {
            font-size: 2.8rem;
            margin-top: 2.4rem;
            line-height: 3.6rem;
            margin-bottom: 1.6rem;
            color: variables.$dark-purple;
            font-family: "Fraunces 144-SemiBold";
        }

        &__text {
            font-size: 1.6rem;
            line-height: 2.8rem;
            color: variables.$davys-gray;
            font-family: "Manrope-Regular";
        }
    }
}

.access {
    padding: 14.979rem 1.6rem 6.4rem 1.6rem;

    .founder {
        width: 28.1rem;
        margin: 0 auto;
        height: 28.1rem;
    }

    .card {
        top: -5.3rem;
        position: relative;
        text-align: center;
        padding: 3.2rem 3.1rem;
        background: variables.$dark-purple;

        .title {
            font-size: 3.2rem;
            line-height: 4.8rem;
            color: variables.$white;
            font-family: "Fraunces 144-SemiBold";
        }

        .text {
            font-size: 1.6rem;
            margin-top: 1.6rem;
            line-height: 2.8rem;
            margin-bottom: 2.4rem;
            color: variables.$white;
            font-family: "Manrope-Regular";
        }
    }

    .social {
        display: flex;
        width: 11.6rem;
        height: 10.3rem;
        margin-left: auto;
        margin-top: 2.1rem;
        margin-right: auto;
        flex-direction: column;
        justify-content: space-between;

        .logo {
            margin: 0 auto;
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                cursor: pointer;
            }
        }
    }
}

@include breakpoints.mq(tablet) {
    .intro {
        background-size: auto, auto;
        background-repeat: no-repeat;
        height: calc(54.1rem - 10.5rem);
        padding: 3.2rem 3.9rem 0 3.9rem;
        background-position: -22.625rem 7.112rem, calc(100% + 9.368rem) 25rem;
        background-image: url("/Workit-Landing-Page/assets/images/bg-pattern-1.svg"), url("/Workit-Landing-Page/assets/images/bg-pattern-2.svg");

        .curve {
            height: 14rem;
            bottom: -13.9rem;
        }

        .content {
            .title {
                width: 40rem;
                margin: 0 auto;
                font-size: 6rem;
                line-height: 6rem;
                margin-top: 5.6rem;

                &--highlight {
                    &::after {
                        bottom: 0.5rem;
                    }
                }
            }

            .button--primary {
                margin-top: 3.9rem;
            }
        }

        .phone {
            width: 51.4rem;
            height: 29.6rem;
            margin-top: 5.5rem;
        }
    }

    .list {
        padding-bottom: 0;
        padding-top: 30.876rem;
        height: calc(92.0725rem - 9.375rem);

        .curve {
            bottom: -9.4rem;
            height: 9.375rem;
        }

        .item {
            gap: 3.2rem;
            display: flex;
            width: 55.8rem;
            margin: 0 auto;
            align-items: center;
            flex-direction: row;

            &:first-child,
            &:nth-child(2) {
                margin-bottom: 4.8rem;
            }

            >div {
                text-align: left;
            }

            &__title {
                margin-top: 0;
            }
        }
    }

    .access {
        padding: 19.402rem 4rem 12.2rem 4rem;

        &__founder {
            display: flex;
            align-items: flex-start;

            .founder {
                margin: 0;
            }

            .card {
                top: 0;
                padding: 5.6rem;
                text-align: left;
                padding-top: 4.8rem;
                margin-top: 14.05rem;
                margin-left: -10.5rem;
                background-repeat: no-repeat;

                &::after {
                    right: 0.75rem;
                    bottom: -11.125rem;
                    position: absolute;
                    content: url("/Workit-Landing-Page/assets/images/bg-pattern-3.svg");
                }

                .title {
                    font-size: 4.8rem;
                }

                .text {
                    margin-top: 2.4rem;
                }
            }
        }

        .social {
            margin-top: 8rem;
        }
    }
}

@include breakpoints.mq(desktop) {
    .intro {
        height: calc(73rem - 10.5rem);
        padding: 3.5625rem 11.4583% 0;
        background-position: top 7.25rem right 86vw, top 19.625rem left 91.3vw;

        .curve {
            height: 26.4rem;
            bottom: -13.9rem;
        }

        .content {
            .title {
                width: 63.5rem;
                font-size: 8rem;
                line-height: 8rem;
                margin-top: 5.8rem;
            }

            .button--primary {
                margin-top: 3.7rem;
            }
        }

        .phone {
            width: 76.7rem;
            height: 44.1rem;
            margin-top: 5rem;
        }
    }

    .list {
        gap: 2.6rem;
        height: auto;
        display: flex;
        padding: 35.5rem 11.4583% 2.4375rem;

        .curve {
            bottom: -17.1rem;
            height: 17.1875rem;
        }

        .item {
            gap: 5.6rem;
            width: 35.4rem;
            margin: 0 auto;
            flex-direction: column;

            &:first-child,
            &:nth-child(2) {
                margin-bottom: 0rem;
            }

            >div {
                text-align: center;
            }

            &__image {
                height: 5.6rem;
                font-size: 2.4rem;
                min-width: 5.6rem;
                text-align: center;
                line-height: 4rem;
            }
    
            &__title {
                margin-top: 0;
                font-size: 3.2rem;
                line-height: 4rem;
                margin-bottom: 2.8rem;
            }
    
            &__text {
                font-size: 1.8rem;
                line-height: 3.2rem;
                color: variables.$dark-purple;
            }
        }
    }

    .access {
        margin-top: 23.5rem;
        padding: 0 11.4583% 11rem;

        &__founder {
            .founder {
                width: 47.7rem;
                height: 47.7rem;
            }

            .card {
                width: 73rem;
                padding: 6.4rem;

                &::after {
                    right: 7rem;
                    bottom: -6.5rem;
                }

                .title {
                    font-size: 5.6rem;
                    line-height: 6.4rem;
                }

                .text {
                    margin: 3.2rem 0;
                    font-size: 1.8rem;
                    line-height: 3.2rem;
                }
            }
        }

        .social {
            margin-top: 12.2rem;
        }
    }
}